asgiref==3.4.1
certifi==2022.9.24
charset-normalizer==2.0.12
coverage==6.2
dataclasses==0.8
Django==3.2.16
django-braces==1.15.0
django-database-view==0.3.0
django-elasticsearch-dsl==7.2.2
django-environ==0.9.0
django-view-table==1.0.1
elasticsearch==7.17.6
elasticsearch-dsl==7.4.0
idna==3.4
psycopg2==2.9.4
python-dateutil==2.8.2
pytz==2022.5
requests==2.27.1
shortuuid==1.0.9
six==1.16.0
sqlparse==0.4.3
typing-extensions==4.1.1
urllib3==1.26.12
Werkzeug==2.0.3
